@import url(./main.css);

.detailed-wrapper {
    display: flex;
    gap: 16px;
    padding: 0 24px;
}

.detailed-product {
    padding-bottom: 24px;
}

.detailed-product-img {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 300px;
    width: 100%;
    height: 300px;
    border: 1px solid #F2F2F2;
}

.detailes-name {
    padding-bottom: 16px;
    font-size: 24px;
    line-height: 28px;
}

h5 {
    padding-bottom: 16px;
    font-size: 18px;
}

.detailed-description {
    padding-bottom: 24px;
}

.card-info {
    display: flex;
    align-items: center;
    height: 40px;
    gap: 16px;
}

.card-add {
    display: flex;
    align-items: center;
    gap: 16px;
}

.card-price {
    font-size: 36px;
    line-height: 42px;
    color: var(--orange);
}

.quantity {
    display: flex;
    align-items: center;
    width: 180px;
    height: 40px;
}

.minus-btn, .plus-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;  
    background: #ffffff;  
    border: 1px solid #323232;
    cursor: pointer;
}

.card-input  {
    border-top: 1px solid #323232;
    border-bottom: 1px solid #323232;
}

.card-input > input {
    text-align: center;
    height: 38px;
    width: 100px;
    border: none;
    outline: none;
   
}

.card-btn-add > button {
    width: 160px;
    height: 40px;
    font-size: 24px;
    color: #ffffff;
    background: var(--orange);
    border: none;
    border-radius: 10px;
    cursor: pointer;
}

.card-btn-add > button:hover {
    background: #E99330;
}

.card-favorite {
    stroke-width: 9%;
    stroke: #959595;
}

/*--------------Media start----------------*/

@media screen and (max-width: 890px) {

    .detailed-wrapper {
        display: block;
        padding: 0;
    }

    .detailed-product-img {
        height: 200px;
        background: linear-gradient(360deg, rgba(0, 0, 0, 0.15) 0%, rgba(0, 0, 0, 0) 50%);
        margin-bottom: 16px;
    }

    .detailed-info {
        padding: 0 24px;
    }
}

@media screen and (max-width: 565px) {

    .card-info {
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .detailed-product {
        padding-bottom: 16px;
    }

    .detailed-description {
        padding-bottom: 16px;
    }

    .card-price {
        order: -1; 
    }

    .quantity  {
        order: 4;
        align-self: center;
    }

    .card-btn-add  {
     order: 4;
    }

    .card-favorite {
       order: -1;
    }
}

@media screen and (max-width: 475px) {

    .card-add {
        flex-wrap: wrap;
        justify-content: center;
    }

    .quantity {
        width: 140px;
    }

    .card-input > input {
        width: 60px;
    }
}
/*--------------Media end----------------*/